* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   }
   header {
    height: 703px;
    background-image: url('../img/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 8px solid #222;
   }
   .navbar__section {
    height: 84px;
    padding-top: 20px;
   }
   nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    margin: 0 56px;
   }
   nav > svg {
    height: 36px;
    fill: #e50914;
   }
   .nav__right {
    display: flex;
    align-items: center;
   }
   .nav__right button {
    background-color: #e50914;
    height: 34px;
    padding: 7px 17px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    margin-left: 1.375rem;
    border-radius: 2px;
   }
   .nav__right .language__options {
    width: 103px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 22px;
    border: 1px solid #aaa;
    color: #fff;
    background-color: #00000099;
    font-size: 0.875rem;
    border-radius: 2px;
   }
   .shodow__box {
    height: 703px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
     to top,
     rgba(0, 0, 0, 0.8) 0,
     rgba(0, 0, 0, 0) 60%,
     rgba(0, 0, 0, 0.8) 100%
    );
    border-bottom: 8px solid rgb(60, 59, 59);
   }
   
   .header__center__box {
    width: 100%;
    padding: 70px 45px;
   }
   .header__center {
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 99;
    color: #fff;
   }
   .header__center h1 {
    font-size: 3.125rem;
    max-width: 640px;
    margin: 0 auto;
    line-height: 1.1;
   }
   .header__center h2 {
    margin: 1rem auto;
    font-size: 1.625rem;
    font-weight: 400;
   }
   .header__center form {
    max-width: 950px;
    padding-top: 0.85rem;
   }
   .header__center form h3 {
    max-width: none;
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 400;
   }
   .email__input__box {
    display: flex;
    align-items: center;
   }
   .email__input {
    display: flex;
    align-items: center;
    margin: 0 auto;
   }
   .email__input input {
    min-width: 450px;
    height: 60px;
    padding-left: 10px;
    margin: 0 auto;
    outline: none;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
   }
   .email__input input::placeholder {
    font-size: 16px;
   }
   .get__started-box {
    background-color: #f40612;
   }
   .get__started-box button#btn {
    height: 60px;
    padding: 0 1rem;
    font-size: 1.625rem;
    min-height: 60px;
    background-color: #f40612;
    color: #fff;
    margin: 0 17px;
    border: none;
   }
   
   .devices__options {
    padding: 70px 45px;
    border-bottom: 8px solid rgb(60, 59, 59);
    background-color: #000000;
   }
   .devices__options__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    max-height: auto;
    margin: 0 68px;
   }
   .devices__options__box__left {
    width: 52%;
    padding: 0 3rem 0 0;
   }
   .devices__options__box__left h1,
   .next__devices__options__box__right h1 {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    color: #fff;
   }
   .devices__options__box__left h3,
   .next__devices__options__box__right h3 {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 0.75em 0 0.25em;
    color: #fff;
   }
   .devices__options__box__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
   }
   .next__devices__options__box__right {
    max-width: 52%;
   }
   .devices__options__box__right img,
   .next__devices__options__box__left img {
    max-width: 95%;
    height: auto;
   }
   .next__devices__options__box__left img {
    margin-left: -70px;
   }
   
   .last__section h1 {
    text-align: center;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    color: #fff;
   }
   .faq-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    border: 0;
   }
   .faq-list__item button:nth-child(1) {
    margin-top: 50px;
   }
   .faq-list__item button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64%;
    margin-bottom: 8px;
    font-weight: 400;
    border: 0;
    padding: 1.3rem 2.2rem 1.3rem 1.9rem;
    text-align: left;
    background: #303030;
    color: #fff;
   }
   .faq-list__item button h4 {
    font-size: 25px;
    font-weight: 400;
   }
   .faq-list__item button i {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
   }
   
   .faq__email-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
    max-width: 950px;
    padding-top: 0.85rem;
   }
   
   .faq__email-input h3 {
    color: #fff;
    text-align: center;
   }
   .faq__email-input h3 {
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 400;
   }
   footer {
    width: 100%;
    height: 60vh;
    box-sizing: content-box;
    background-color: #000000;
   }
   .footer__section {
    padding: 70px 45px 0;
    margin: 0 118px;
   }
   .footer__wrapper {
    padding: 0 50px;
   }
   .footer__wrapper a {
    color: #757575;
    text-decoration: none;
    cursor: pointer;
   }
   .footer__wrapper a:hover {
    text-decoration: underline;
   }
   .footer__top {
    margin-bottom: 30px;
    font-size: 16px;
   }
   .footer__main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   }
   .footer__main a {
    width: 225px;
    padding: 0 12px 0 0;
    margin: 0 0 16px;
    font-size: 13px;
   }
   .footer__bottom {
    width: 100%;
    margin-top: 30px;
   }
   .footer__language__options {
    display: flex;
    align-items: center;
    max-width: 143px;
    padding: 12px 26px 12px 50px;
    border: 0.1px solid rgba(255, 255, 255, 0.9);
    color: #fff;
    position: relative;
   }
   div.footer__language__options i:first-child {
    position: absolute;
    left: 16px;
   }
   div.footer__language__options i:last-child {
    position: absolute;
    right: 16px;
   }
   p#last__p {
    margin: 24px 0 13px;
    color: #757575;
   }